<div class="container container-table">
  <table class="table table-light mt-4" id="lista">
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Imagen</td>
        <td>Stock</td>
      </tr>
    </thead>
    <tbody id="tbodyID">
      {{#each products}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>$ {{this.price}}</td>
          <td>{{this.thumbnail}}</td>
          <td>{{this.stock}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>